@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #847869;
    --secondary-color: #fae1c3;

    --primary-background-color: #1d1d1d;
    --secondary-background-color: #272727;
    --accent-color: #91170c;

    --roboto-mono: "Roboto Mono", "monospace";
    --barlow: "Barlow", sans-serif;
    --monoton: "Monoton", cursive;
  }
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 50%;
  margin: 0 auto;
}
